.button{
	border: 1px solid;
	border-color: rgb(51, 210, 232);
	color: rgb(51, 210, 232);
	padding: 8px 15px;
	border-radius: 50px;
	font-weight: bold;
	text-decoration: none;
	font-size: 15px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 500;
}

.button:hover{
	background-color: rgba(51, 210, 232, 0.5);
	color: white;
}